@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Special Elite", cursive, sans-serif;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 101px;
  background: #f42525;
  box-shadow: 0px 10px 7px 0px #00000040;
  position: sticky;
  z-index: 1;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.logo img {
  height: 80px;
  width: 80px;
  margin-left: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  padding: 20px;
}

nav button {
  background: #111b21;
  padding: 17px 35px;
  color: #f3f3f3;
  border: none;
  margin: 20px;
  border-radius: 12px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* margin-top: 40px; */
  width: 100%;
  height: auto;
}

.banner {
  background-image: url("../img/ouro-preto-206-c.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 800px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f3f3f3;
  font-size: 4rem;
  font-weight: bold;
}

main h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.text-card {
  text-align: center;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  width: 220px;
  margin: 20px 10px 10px 0;
  border-radius: 15px;
  box-shadow: 0px 2px 2px #c1c1c1;
}

.bg {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: contain;
}

.cultura {
  background-image: url(../img/cultura.jpeg);
}
.comida {
  background-image: url(../img/comida_mineira.jpeg);
}

.natureza {
  background-image: url(../img/natureza.webp);
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

footer {
  height: 80px;
  background: #f42525;
  color: #f3f3f3;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links img {
  max-width: 60px;
  max-height: 60px;
  width: auto;
  height: auto;
  padding: 10px;
}
